@charset "utf-8";
/*Resetear*/
html,body,div,span,img,strong,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th{
	margin:0;
	padding:0;
	border:0;
	outline:0;
	font-size:100%;
	vertical-align:baseline;
}
body{
	background-color: #000;
}
@font-face{
	font-family:OR;
	src:url(../fuentes/OR.ttf);
}
.logo{
	font-family:OR;
	font-size:32px;
	margin-top: 30px;
	display: inline-block;
	color: #fff;
}
a.logo:hover{
	text-decoration: none;
}
/*HTML*/
h1,h2,h3{
	text-shadow:0 1px 2px rgba(0,0,0,0.5);
}
table,td,tr,th{
	border:1px solid #000;
	padding:.2em;
}
table{
	border-collapse:collapse;
}
caption{
	font:20px Arial bold;
}
/*ESTRUCTURA*/
#contenedor-cabeza{
	height:140px;
}
#contenedor-pie{
	height:120px;
	color: #fff;
}
#contenedor-cuerpo{
	padding: 3px;
	font-family: 'Arial','Helvetica','sans-serif' !important;
	font-size:14px;
	height:auto;
	background-color: #fff;
}
#contenedor-cuerpo a{
	color:#00007c;
	text-decoration:none;
}
#contenedor-cuerpo a:hover{
	text-decoration:underline;
}
.envoltura{
 	width:940px;
 	margin:0 auto;
}
/*OTROS*/
.actual{
	color: #000 !important;
	text-decoration:none;
	background-color:#fff;
	padding:.5em;
	-webkit-border-radius:6px;
	-moz-border-radius:6px;
	border-radius:6px;
}
.orden{
	display:block;
	margin:.5em 0 0 0;
}
#contenedor-cabeza a, #contenedor-pie a{
	color: #fff;
	text-decoration: none;
}
nav{
	float: right;
	margin-top: 80px;
	font-size: 18px;
}
nav ul.menu, ul.menu{
	list-style:none;
	margin:0;
	padding:0;
}
nav ul.menu li, ul.menu li{
	display:inline;
}
nav ul.menu li a:hover{
	color:#000 !important;
	background-color:#fff;
	text-decoration:none;
	-webkit-transition:all .5s linear;
	padding:.5em;
	-webkit-border-radius:6px;
	-moz-border-radius:6px;
	-moz-transition:all .5s linear;
	-o-transition:all .5s linear;
	border-radius:6px;
}
#contenedor-pie ul.menu{
	margin-top: 12px;
}
#contenedor-pie ul.menu li a{
	color: #fff;
}
#contenedor-pie ul.menu li a:hover{
	color:#ccc;
}
#contenedor-pie .envoltura > span{
	float:right;
}
/*Cuadro para Internet Explorer*/
#usuarios-ie{
	font-family:Verdana,Arial,sans-serif;
	background:#FFFFDE;
	color:#000;
	border-bottom:2px solid #7F0C00;
}
#usuarios-ie p{
	font-size:1.3em;
	margin:0;
	padding:5px 0;
	line-height:1.5em;
}
#usuarios-ie a{
	text-decoration:underline;
	font-weight:bold;
	color:#D64411;
}
/*Cuadro para Internet Explorer*/