body{
	background-color: #000;
}
.envoltura{
 width:940px;
 margin:auto;
}
#contenedor-cabeza{
	height:100px;
	-moz-box-shadow:0 3px 3px rgba(0,0,0,1);
	-webkit-box-shadow:0 3px 3px rgba(0,0,0,1);
}
#contenedor-pie{
	height:100px;
	-moz-box-shadow:0 -3px 3px rgba(0,0,0,1);
	-webkit-box-shadow:0 -3px 3px rgba(0,0,0,1);
}
#contenedor-cuerpo{
	min-height:450px;
	background-color: #fff;
}
#contenedor-cabeza header a{
	text-decoration:none;
	font-size:23px;
	color:#fff;
	margin-top:3px;
}
tr:nth-child(2n+1){
	background-color:#ccc;
}
h1{
	text-shadow:2px 0 1px rgba(0,0,0,0.6);
}
table,td,th{
	border:1px solid black;
	padding:4px;
}
footer{
	color:#fff;
}
ul li{
	list-style:none;
	padding:7px;
	font-size:18px;
}
ul li a{
	text-decoration:none;
	color:#231acd;
}
ul li a:hover{
	padding:6px;
	background-color:#acd146;
}
header.envoltura h1 a{
	text-shadow:-2px -2px 2px rgba(0,0,0,1);
	font-size:200%;
}
header.envoltura h1{
	padding-top:20px;
	margin:0;
}
header.envoltura a:hover{
	text-shadow:2px 2px 2px rgba(0,0,0,1);
	-moz-transition:all .5s ease-in;
	-webkit-transition:all .5s ease-in;
	transition:all .5s ease-in;
}
